body {
  font-family: sans-serif;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 90%;
  /* height: 70%; */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 90%;
  /* max-height: 70%; */
  clip-path: inset(10px 20px 30px 40px round 10px) margin-box;
  -webkit-clip-path: inset(0px 150px 0px 140px) margin-box;
  opacity: .7;
  -webkit-filter: grayscale(1);
  display: none;
}

.image-overlay-toggle {
  position: relative;
  z-index: 999;
  margin: 40px 0 0 30px;
  height: 40px;
  width: 100px; 
}

.console-output {
  display: none;
}
